img{
    max-width: 100%;
    max-height: 100%;
  }
  .picture1 {
    width: auto;
    height: 600px;
    text-align: center;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
    background-color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
  }
  h1, h2, h3 {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
}
.pictureVaccinations{
  height: 500px; width: auto;text-align: center;
}
.button{
  cursor: pointer;
}
.content{
  background-color: white;
}
.accordion {
  margin: 60px auto;
  width: 600px;

}

.accordion li{
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: whitesmoke;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.15);
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="checkbox"] {
  display: none;
}

.accordion .content {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  padding: 0 10px;
  line-height: 26px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="checkbox"]:checked+label+.content {
  max-height: 400px;
  padding: 10px 10px 20px;
  background-color:whitesmoke;
}

.accordion input[type="checkbox"]:checked+label::before{
  content: '-';
}

.answer {
  background-color:#A7C7E7;
}

.flex-item{
  display: flex;
  width: calc(50%-2em);
  margin: 1em;
  box-sizing: border-box;
}
